Repository sociomantic-tsunami/ocean, pull requests merged in 2019-04, with the labels that each got.

#694 Deprecate IMicrosecondsClock
  Build.mak
  relnotes/microseconds.deprecation.md
  src/ocean/io/console/AppStatus.d
  src/ocean/time/model/IMicrosecondsClock.d
Labels: type-deprecation

#696 Deprecate FullQueryParamSet
  relnotes/fullqueryparamset.deprecation.md
  src/ocean/net/util/QueryParams.d
Labels: type-deprecation

#698 Workaround a compiler bug
  src/ocean/util/container/cache/ExpiringCache.d
Labels: type-bug

#691 "yesterday" and single value support improvements for TimeIntervalArgs.
  src/ocean/text/arguments/TimeIntervalArgs.d
Labels: type-enhancement
